* h1 {
    text-align: center;
    background-color: darkgreen;
    margin: 0;
    color: white;
}

nav ul {
    padding: 0;
    text-align: center;
    background: gray;
    margin: 0;
}
 
nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}