* 
body {
    background-image: "water-glawater-glacier-ice-cave-cave-wallpaper-preview.jpg";
}

h1 {
    text-align: center;
    background-color: green;
    margin: 0;
}

.länkar {
    text-decoration: none;
    
}