* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background-color: white;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;  
    background-color: #285E2E; 
    color: white;
    width: 100%;  
}

.Översta4 {
    display: grid;
    grid-template-columns: auto auto;
}

 .Översta4 img {
    align-items: center;
    margin: 25px;
} 

.bild1och3 {
    display: grid;
    place-items: flex-end;
}

#StorBild{
    display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 80px;
}

.Nedre2 img {
    margin: 0 auto;
}


.Nedre2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 35px;
    margin-top: 80px;
}

#Hund1 {
    display: grid;
    place-items: flex-end;
}


#LitenBild img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#LitenBild {
    justify-content: center;
    margin-top: 80px;
}

@media (max-width: 768px) {
    .Översta4, .Nedre2 {
        grid-template-columns: 1fr; /*Gör så att bilderna staplas på varandra*/
    }

    .Översta4 img, .Nedre2 img {
        margin: 10px auto; /*Justera marginalerna för att centrera bilderna */
    }

    img {
        max-width: 100%;
    }
}