body {
    background-color: red;
}

.Översta4 img {
    width: 600px;
    height: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#StorBild {
    width: 950px;
    height: 660px;
}

.Nedre2  img{
    width: 400px;
    height: 400px;
}