* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid: auto / 20% 1fr;
    font-family: "Roboto", sans-serif;
}

aside {
     background-color: blue; 
    position: relative;
}

.aside-wrapper {
    position: fixed;
    width: 20%;
    height: 100%;
}

.aside-profile {
    /* background-color: blueviolet; */
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-profile img {
    max-width: 70%;
    border: 3px solid yellow;
    aspect-ratio: 1;
    padding: 20px;
    background-color: indigo;
}

.menu {
    /* background-color: burlywood; */
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50%;
}

.menu li {
    /* background-color: aqua; */
    text-align: center;
    margin-bottom: 40px;
}

.border {
border-top: 3px solid #fff;
border-bottom: 3px solid #fff;
padding: 16px 24px;
}

.menu li a {
    /* background-color: gold; */
    font-size: 50px;
    color: white;
    text-decoration: none;
}

/* main { */
    /* background-color: brown; */
/* } */

section {
    /* background-image: linear-gradient(45deg, white, black); */
    min-height: 100vh;
    padding: 24px;
}