* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #403434;
}
.Överrad {
    position: fixed;
    background-color: #9A9292;
    padding: 5px;
    width: 100vw;
    margin: 0;
    border-radius: 0 0 25px 25px;
    top: 0;
    display: flex;
}

.Överrad > * {
    /* background-image: linear-gradient(45deg, white, black); */
    flex: 1 1 0;
}

.Meny {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* position: fixed; */
    margin: 0;
}

.Länkar {
    justify-content: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: fixed;
    top: 90px;
    border-radius: 25px;
    left: 0;
    margin-left: 0px;
} 

.Länkar a {
    color: white;
    text-decoration: none;
    margin: 0;
}

.Länkar li {
    margin-top: 0;
    padding-bottom: 75px;
    padding-top: 75px;
    margin-left: 0;
}

.Länkar a:hover{
    text-decoration: underline;
}

/* .Meny:hover .Länkar {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
} */


h1 {
    color: white;
    font-size: 30px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.LänkKundvagn {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    padding-right: 20px;
}

#TillKundvagn {
    width: 40px;
    height: auto;
    
}

.Meny {
    text-align: center;
    position: relative;
    margin: 0;
}

.Länkar {
    /* background-color: rgba(0, 0, 0, 0.5); */
    opacity: 0;
    color: white; 
    position: absolute;
    padding: 0;
    left: -15px;
    width: 100%;
    /* z-index: -9000; */
    /* margin: 0; */
    top: -500%;
    transition: ease-in-out 500ms;
    
}

.Meny:hover > .Länkar{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    /* height: auto; */
    /* z-index: 100; */
    top: 75px;

}

h4 {
    background-color: white;
    padding: 5px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

h3 {
    text-align: center;
    color: white;
    margin-top: 150px;
    font-size: 25px;
}

h5 {
    text-align: center;
    color: white;
    margin-top: 50px;
    font-size: 25px;
}

h6 {
    font-size: 25px;
    margin-bottom: 100px;
}

.Betalning {
    display: flex;
    justify-content: space-between; 
    margin-top: 70px;
    padding: 0 10%;
    text-align: center;
}

.Betalning > div {
    width: 30%; 
    background-color: #D9D9D9; 
    padding: 20px; 
    border-radius: 15px; 
    padding-bottom: 150px;
}